.kui-question{
    background-color: #ff66b9;
    padding-bottom: 1rem;
}

.kui-number,
.kui-operator{
    /* height: inherit; */
    font-size: 2rem;
    /* padding: 1rem; */
    /* border: 1px solid red; */
}

.kui-operator div{
    padding: 1rem;
    margin: 1rem;
}

.kui-number div{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
}

.kui-answers{
    padding-top: 1rem;
    border-top: 1px solid #ffffff;
    /* background-color: #ffffff; */
}

.kui-answer{
    font-weight: bold;
    font-size: 2rem;
}

.kui-answer div{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ffffff;
    background-color: #f0f0f0;
    color: #666666;
}

.kui-your-answer{
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
}

.kui-your-answer div{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #cccccc;
    background-color: #ff66b9;
    color: #ffffff;
}

@media only screen and (min-width: 1025px) {
    .kui-answer div:hover{
        border: 1px solid #cccccc;
        background-color: #ff66b9;
        color: #ffffff;
        cursor: pointer;
    }
}

.kui-progress{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    background-color: #fff56c;
    font-style: italic;
    border-bottom: 3px solid #cccccc;
}

.kui-score{
    text-align: right;
}

.kui-finish{
    text-align: right;
}

.kui-finish button{
    border: 1px solid #999999;
    background-color:rgba(255, 255, 255, 0.6);
    display: inline;
    margin: 0 0 0.2rem 0;
    padding: 0.15rem 0.75rem;
}

.kui-qna{
    position: relative;
}

.kui-feedback{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    text-align: center;
}

.kui-feedback div{
    font-size: 3rem;
    padding-top: 8rem;
}

.kui-feedback-check{
    color: #14b621;
}

.kui-progress-bar{
    position: absolute;
    bottom:0;
    width: 40%;
    background-color: red;
    height: 0.3rem;
}

.kui-feedback-cross{
    color: #962121;
}

@media only screen and (max-width: 767px) {
    .kui-operator div{
        padding: 0rem;
        margin: 0rem;
    }

    .kui-feedback{
        height: 100%;
        /* top: calc(10%); */
        left: 0;
        top: 0;
    }

    .kui-feedback div{
        font-size: 3rem;
        padding-top: 10rem;
    }
}
